@model MvcBookStore.Models.SACH

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="templatemo_content_right">

    <div class="image_panel">
        <img src="~/Content/images/@Model.Anhbia" alt="Book Image" width="100" height="150" />
    </div>

    <h2>@Model.Tensach</h2>
    <p>@Model.Mota</p>

    <h3>Giá: @String.Format("{0:N0}", Model.Giaban) VND</h3>
    <p><strong>Số lượng tồn:</strong> @Model.Soluongton</p>
    <div class="buy_now_button">
        <a href="@Url.Action("ThemGioHang", "Giohang", new { @iMasach = Model.Masach, @strUrl = Request.Url.ToString()})">
            Đặt mua
        </a>
    </div>
